In [5]:
import pandas as pd
import numpy as np
import geopandas as gpd
from shapely.wkt import loads

#load polygons and explode multipolygons
df = pd.read_csv('polygons.csv')
df.columns = ['index', 'geometry']
df.drop('index', axis=1, inplace=True)
df['geometry'] = df['geometry'].astype(str)
df = df[df.geometry != 'nan']
df['geometry'] = df['geometry'].apply(lambda x: loads(x))

df.head()

                                            geometry
0  POLYGON ((4.3793095 51.9634066, 4.3796196 51.9...
1                       POINT (2.9999964 55.3333373)
2  (POLYGON ((-180 51.7940888, -179.9926876 51.79...
3  LINESTRING (34.9825864 32.1859742, 34.9820626 ...
4  (POLYGON ((-68.6255319 12.259, -68.62548940000...

In [6]:
len(df)

573

In [8]:
#load hexgrid
fname = "hexgrid.geojson"

df_hex = gpd.read_file(fname)

df_hex.head()

,left,bottom,right,top,geometry
0,-149.389382,-45.000021,-147.657331,-43.500020,(POLYGON ((-149.3893821528157 -44.250020631576...
1,-149.389382,-43.500020,-147.657331,-42.000020,(POLYGON ((-149.3893821528157 -42.750019932201...
2,-149.389382,-42.000020,-147.657331,-40.500019,(POLYGON ((-149.3893821528157 -41.250019232825...
3,-149.389382,-40.500019,-147.657331,-39.000018,(POLYGON ((-149.3893821528157 -39.750018533450...
4,-149.389382,-39.000018,-147.657331,-37.500017,(POLYGON ((-149.3893821528157 -38.250017834074...

In [9]:
len(df_hex)

28227

In [ ]:
%%timeit 
df_hex['count'] = df_hex.geometry.apply(lambda x: len([i for i in range(len(df.geometry)) if x.intersects(df.geometry[i])]))
 
df_hex.to_csv('hexcounted.csv')
df_hex.head()